.App {
  width: 100%;
  min-height: 100vh;
  background: var(--preto);
}
.controls-reproduction {
  position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: 200;
}

.controls-reproduction input {
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  border-radius: 4px;
  background: #6a626243;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.controls-reproduction input:hover {
  opacity: 1;
}
.controls-reproduction input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: var(--branco);
  cursor: pointer;
}

.controls-reproduction input::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: var(--branco);
  cursor: pointer;
}
/* --------------------- */
.container-img {
  background: var(--preto);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.container {
  width: 100%;
  min-height: 100vh;
}

/* ----- */
.button-start {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.button-start span {
  color: #fff;
  font-family: var(--pixelFont), cursive;
  font-size: 12px;
}
.button-start img {
  max-width: 120px;
  z-index: 100;
}

/* ----------------- */
/* ----------------- */
.container-img img {
  max-width: 300px;
  width: 100%;
}

.container-img .loading-indicator {
  max-width: 100px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}
.container-img .loading-indicator span {
  display: block;
  width: 10px;
  height: 10px;
  background: var(--branco);
  animation: loading 3s infinite cubic-bezier(0.19, 1, 0.22, 1);
  transform-origin: center center;
  opacity: 0;
}

.container-img .loading-indicator span:nth-child(1) {
  animation-delay: 0.5s;
}
.container-img .loading-indicator span:nth-child(2) {
  animation-delay: 0.75s;
}
.container-img .loading-indicator span:nth-child(3) {
  animation-delay: 1s;
}

@keyframes loading {
  0%,
  100% {
    transform: translateY(0px);
    opacity: 0;
  }
  50% {
    transform: translateY(-20px) rotate(180deg);
    opacity: 1;
  }
}
